<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "basehead.njk" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>
