{% extends "layouts/base.njk" %}

{% block head %}

  <link rel="stylesheet" href="/assets/css/post.css" />
  <meta name="description" content="{{description}}" />
{% endblock %}


{% block content %}
  <div class="post__content">
    <h1>{{title}}</h1>
    <p><time>{{ date }}</time></p>
    <ul>
      {% for tag in tags %}
        <li>
          <a href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
    {{ content | safe }}
  </div>
{% endblock %}