---
title: Home
layout: layouts/home.njk 
---

<h1>This is the home!</h1>

<a href="/">Back To Home </a>

<img 
  src="/assets/imgs/selfie-astronaut.jpeg" 
  alt="Selfie in the starts"
  width="300px"
/>